body{
    display:flex;
    flex-direction: column;
    padding-left: 40px;
    padding-right: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
header{
    
    font-size: 35px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:white;
    display:flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    height: 150px;
    background: #192941;
    
}
main{
    background:#dcdaf8;
    height:auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    vertical-align: middle;
    justify-content: center;
}
#controls{
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: row;
    column-gap:5px;
}
#controls label{
    padding-top: 15px;
}

#lookup{
    background: rgb(60, 240, 195);
    color:white;
    width:100px;
    height: 50px; 
    border-radius: 5px; 
    border: 0px;
}
#cities{
    background: #3d49ec;
    color:white;
    width:100px;
    height: 50px; 
    border-radius: 5px; 
    border: 0px;
}
#country{
    height: 50px; 
    width:500px;
    border: 10px;
    border: 2px solid #E2E8F0;
    box-shadow: #96a0f5;
    padding-left: 10px;
    border-radius: 5px;
}

#result{
    
    padding-left: 200px;
    padding-right: 200px;
    width:800px;
   
    word-wrap: break-word;
    display: flex;
    flex-direction: column;
    align-items: center;
    vertical-align: middle;
    justify-content: center;
}
table{
    border-collapse: separate;
    border-spacing: 20px;
    box-shadow: #6f6f70;
}

